<header class="top{% if page.url == '/' %} hero{% endif %}">
<nav class="nav container">
<a class="brand" href="{{ '/' | relative_url }}">P(Theory | Data)</a>
<div class="links">
<a href="{{ '/research.html' | relative_url }}">Research</a><a href="{{ '/people.html' | relative_url }}">People</a><a href="{{ '/publications.html' | relative_url }}">Publications</a><a href="{{ '/software.html' | relative_url }}">Software</a><a href="{{ '/teaching.html' | relative_url }}">Teaching</a><a href="{{ '/journal-club.html' | relative_url }}">Journal Club</a><a href="{{ '/news.html' | relative_url }}">News</a>
</div></nav>
</header>
